.album.text-muted
  .container
    .row
      = render partial: 'portfolio_item', collection: @portfolio_items
/ start of footer
%footer.text-muted
  .container
    %p.float-right
      %a{href: "#"} Back to top
    %p
      =@copyright
/ end of footer
  