.col-sm-3.offset-sm-1.blog-sidebar
  .sidebar-module.sidebar-module-inset
    %h4 About
    %p
      Here you get a peak behind the curtain on what its like to job hunt.
  .sidebar-module
    %h4 Let's Connect!
    %ol.list-unstyled.social_links
      %li
        %a{href: "https://github.com/fdromero32", target: "_blank"}= fa_icon "github"
      %li
        %a{href: "https://www.linkedin.com/in/fdromero/", target: "_blank"}= fa_icon "linkedin"
