%h1.cover-heading About Me
%br
%p Hi, my name is Danny Romero.
%p
  I am a full stack developer new to San Diego. I come from a background in Higher Education, but I took the initiative to transform my hobby: coding and web design into a future career. For the last year, I have been self-studying the fundamentals of web programming. At the start of this year, I finetuned my knowledge at LEARN Academy, a full-stack web development boot camp in San Diego. Thanks to my boot camp, I was able to land a position at HoursLogger, a computer software startup located in San Diego, CA.
%p
  When I am not coding, I am out enjoying nature, specifically the beach! Living in San Diego, I am truly blessed to have so many beautiful beaches to choose from. I also enjoy keeping my mind and body healthy by working out and eating healthy new foods!
%p
  If you’d like to connect, please shoot me an email at
  %a.bold{href: "mailto:fdromero32@gmail.com"} fdromero32@gmail.com 
  or connect with me using one of my socials :)

  
%footer.mastfoot.mt-auto