%h1.cover-heading Let's get to work!
%p.lead
  Email:
  %a{:href => "mailto:fdromero32@gmail.com"} fdromero32@gmail.com
%p.lead Phone Number: (760) 685-6023
%p.lead
  Github: 
  %a{:href => "https://github.com/fdromero32"} github.com/fdromero32
%p.lead
  LinkedIn: 
  %a{:href => "https://www.linkedin.com/in/fdromero/"} linkedin.com/in/fdromero
  
%footer.mastfoot.mt-auto
  .inner
    %p
      = @copyright