%main.inner.cover{role: "main"}
  %h1.cover-heading Welcome.
  %p.lead I'm a software developer in San Diego, CA and this is my portfolio. 
  %p.lead
    %a.btn.btn-lg.btn-secondary{:href => about_me_path} Learn more
%footer.mastfoot.mt-auto
  .inner
    %p
      = @copyright
